* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

.title {
    color: rgb(247, 22, 22);
    text-align: center;
    font-size: 4rem;
    margin-bottom: 20px;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    padding: 10px;
    background-color: #20232a;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#status {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: rgb(97, 70, 70);
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #61dafb;
    border: 2px solid #20232a;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
}

.cell:hover {
    background-color: #4a9fcb;
}

#reset {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: #61dafb;
    border: none;
    border-radius: 5px;
    color: #20232a;
    transition: background-color 0.3s ease;
}

#reset:active {
    background-color: #4a9fcb;
}
